---
layout: layouts/home.njk
title: Home
eleventyNavigation:
  key: Home
  order: 1

slides:
  - image: /img/hero1.png
    title: CASA MATER
    subtitle: Transformando la cultura de nacer

actuacion_title: Nuestras líneas de actuación
actuacion_text: >
  Casa Mater es una asociación sin ánimo de lucros...

actuacion:
  - icon: /img/icon1.png
    title: Maternidad, Salud y Derechos Reproductivos
    text: ""

vision_title: Nuestra Visión
vision_text: >
  Soñamos con una sociedad donde...

testimonials:
  - name: Juanna
    text: Mi experiencia...

gallery:
  - image: /img/foto1.jpg

---