---
title: Home
slides:
  - image: /public/img/hero1.png
    title: CASA MATER
    subtitle: Transformando la cultura de nacer
  - image: /img/hero2.png
    title: CASA MATER
    subtitle: Transformando la cultura de nacer
  - image: /img/hero3.png
    title: CASA MATER
    subtitle: Transformando la cultura de nacer
actuacion_title: Nuestras líneas de actuación
actuacion_text: >
  Casa Mater es una asociación sin ánimo de lucros dedicada a transformar la
  forma en que nacemos, con un enfoque feminista, intercultural y sostenible.
  Ofrece programas y grupos de apoyo para embarazadas y puérperas, encuentros de
  lactancia, talleres y eventos comunitarios sobre perinatalidad, derechos
  reproductivos y sexuales, y genera investigación científica para mejorar
  prácticas y políticas de cuidado. Combina innovación social, educación y
  evidencia científica para crear una comunidad de transformación, donde la
  información, el acompañamiento y la experiencia de cada mujer son la base de
  un cambio cultural profundo en la maternidad y los cuidados de la vida.
  Nuestras líneas de actuación son:
actuacion:
  - icon: /public/img/icon1.png
    title: Maternidad, Salud y Derechos Reproductivos
  - icon: /img/icon2.png
    title: Inclusión y Protección Social de la Maternidad
  - icon: /img/icon3.png
    title: Políticas de Salud, Igualdad y Cuidados
vision_title: Nuestra Visión
vision_text: >
  Soñamos con una sociedad donde la maternidad y el nacimiento sean reconocidos
  y sostenidos colectivamente como pilares de la vida y el futuro de las
  comunidades, donde madres, familias y criaturas vivan con dignidad, bienestar
  y derechos garantizados. Creemos en la regeneración del parto y el nacimiento:
  transformar cómo llegamos al mundo para fortalecer la salud, los vínculos y la
  confianza social, integrando ciencia, humanidad y dignidad, y poniendo la vida
  en el centro. Cuidar bien el inicio de la vida no solo impacta a cada familia,
  sino que siembra las bases de comunidades más justas, cuidadoras y fuertes
  para las próximas generaciones.
testimonials:
  - name: Juanna
    text: >
      Mi experiencia con Juliana en mi segundo embarazo y parto ha sido
      completamente maravillosa. Durante todo el embarazo porque a través de su
      acompañamiento dulce pero a la vez muy motivador te va empoderando y
      haciendo que cojas más confianza en tí misma, eso sumado a que se trataba
      de mi segundo embarazo y ya saber de qué va junto a su cálido
      acompañamiento ha hecho que recuerde el período del embarazo como los más
      bonitos, pausados y conscientes de toda mi vida.  Por otro lado en el
      parto en movimiento, la llamé en cuanto rompí aguas y no dudó en acudir a
      nuestra casa y mediante música tranquila, muchos mimos y mucha consciencia
      hizo que la oxitocina se disparase y al fomentar la conexión entre mi
      marido y yo las contracciones se dispararon y todo fue genial, el parto
      que había imaginado gracias a su motivación, acompañamiento y sencillez
      creó un espacio seguro en el que nació mi hija. 
  - name: Miguel
    text: >
      Como padre la verdad que estoy muy agradecido por la gran labor que hizo
      Juliana, el venir a casa y ayudar en todo momento y preveer también, como
      indicarme en un momento que ella vió que preparase el coche y cómo
      prepararlo, en medio de nervios y no saber cómo actuar ella hace de puente
      entre la organización y la previsión utilizando la cabeza fría para
      indicarme cómo proceder,  y el estar emocionalmente disponible para mi
      mujer como en ese momento estuvo. Muy agradecido de que estuviese con
      nosotros en ese momento tan especial.
  - name: Noelia
    text: >
      Juliana es muy amable y atenta.Te hace sentir cómoda, explica todo con
      cariño y hace que parezca fácil. Muchas gracias por tu trabajo.
  - name: Maria del Mar
    text: >
      Nyddya me atendió en mi tercer parto junto con la doula Juliana Alves, que
      fue en casa. Son unas grandes profesionales, cercanas, atentas y
      respetuosas; justo lo que se necesita en ese momento. Fue un sueño hecho
      realidad.
  - name: Nome
    text: Relato
gallery:
  - image: /public/img/gallery1 (1).jpg
  - image: /public/img/gallery2 (1).jpg
  - image: /public/img/gallery3 (1).jpg
  - image: /public/img/gallery4 (1).jpg
  - image: /public/img/gallery5 (1).jpg
colaboradoras_title: Nuestras colaboradoras
colaboradoras_text: >-
  La Asociación Casa Mater construye una red activa de colaboración con
  profesionales y autoras de referencia en embarazo, nacimiento y posparto,
  reforzando su compromiso con una maternidad consciente, informada y
  profundamente acompañada.


  En la provincia de Cádiz, camina junto a Nyddya Conesa, matrona especializada
  en parto en casa, con quien colabora en formaciones, grupos de madres y
  acompañamiento en partos domiciliarios, integrando saber clínico, experiencia
  y cercanía para ofrecer a las familias un entorno seguro y respetuoso.


  En el ámbito internacional, ha trabajado con la médica y autora Maria Fuentes
  Caballero en la traducción al portugués de Gravidez, nascimento e infância
  desde o sul, y con Kestrel Gates en la traducción de Build Your Nest (Construa
  seu ninho), una guía práctica para planificar el posparto con conciencia y red
  de apoyo.


  En Curitiba, participó en un evento en Casa Rudá, donde Juliana fue ponente
  invitada abordando la perspectiva del posparto desde Construa seu ninho.


  Asimismo, colabora con la instructora de pilates Mar Doña en eventos de
  acompañamiento perinatal y charlas de promoción de la salud materna.


  Estas alianzas consolidan a Casa Mater como un puente entre conocimiento,
  experiencia y comunidad, creando redes y espacios donde la maternidad puede
  vivirse con mayor autonomía, sostén y conciencia.
colaboradoras:
  - name: Kestrel Gates
    image: /img/colab1.jpg
    link: https://www.buildyournestworkbook.com/portugues
  - name: Nyddya Conesa
    image: /img/colab2.jpg
    link: https://www.instagram.com/nyddyaconesa.comadrona/
  - name: Mar Doña
    image: /img/colab3.jpg
    link: https://www.instagram.com/pilatesymasjerez/
  - name: Lúcia Misael
    image: /public/img/colab4.jpg
    link: https://www.instagram.com/casa.ruda/
  - name: María Fuentes
    image: /public/img/colab5.jpg
    link: https://marta-tf.es/

eleventyNavigation:
  key: Home
  order: 1
  
---
