<section class="home-section reveal">
  <div class="container">

    <div class="blog-list">
      {%- for post in postslist | reverse %}
        <article class="blog-card">
          <a href="{{ post.url }}">
            {% if post.data.image %}
              <img src="{{ post.data.image }}" alt="{{ post.data.title }}">
            {% endif %}
            <h2>{{ post.data.title }}</h2>
          </a>
          <time class="blog-date" datetime="{{ post.date | htmlDateString }}">
            {{ post.date | readableDate("dd 'de' LLLL yyyy") }}
          </time>
          {% if post.data.description %}
            <p class="blog-description">{{ post.data.description }}</p>
          {% endif %}
        </article>
      {%- endfor %}
    </div>

  </div>
</section>
