<section class="home-section reveal">
  <h1 class="page-title-events">Posts</h1>
  <div class="container">

    <div class="blog-list">
      {%- for post in postslist | reverse %}
        <article class="blog-card">
          <a href="{{ post.url }}">
            {% if post.data.image %}
              <img src="{{ post.data.image }}" alt="{{ post.data.title }}">
            {% endif %}
            <div class="blog-content">
              <h2>{{ post.data.title }}</h2>

              <time class="blog-date" datetime="{{ post.date | htmlDateString }}">
                {{ post.date | readableDate("dd 'de' LLLL yyyy") }}
              </time>
            </div>
          </a>
          {% if post.data.description %}
            <p class="blog-description">{{ post.data.description }}</p>
          {% endif %}
        </article>
      {%- endfor %}
    </div>

  </div>
</section>
