<!doctype html>
<html lang="{{ metadata.language or 'pt-BR' }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or metadata.title }}</title>
  <meta name="description" content="{{ description or metadata.description }}">
  
  <!-- CSS -->
  <style>{% include "css/index.css" %}</style>
  <style>{% getBundle "css" %}</style>

  <!-- Optional JS -->
  <script type="module">{% include "node_modules/@zachleat/heading-anchors/heading-anchors.js" %}</script>
</head>
<body>
  <!-- Skip link -->
  <a href="#main" id="skip-link" class="visually-hidden">Skip to main content</a>

  <!-- Header / Menu -->
  <header class="site-header">
    <a href="/" class="site-logo">Home</a>

    <nav>
      <ul class="nav">
        {%- for item in collections.all | eleventyNavigation %}
          <li class="nav-item">
            <a href="{{ item.url }}" {% if item.url == page.url %}aria-current="page"{% endif %}>
              {{ item.title }}
            </a>
          </li>
        {%- endfor %}
      </ul>
    </nav>
  </header>

  <!-- Main Content -->
  <main id="main">
    <heading-anchors>
      {{ content | safe }}
    </heading-anchors>
  </main>

  <!-- Footer -->
  <footer>
    <p><em>Built with <a href="https://www.11ty.dev/">Eleventy</a></em></p>
  </footer>

  <!-- JS Bundle -->
  <script type="module" src="{% getBundleFileUrl "js" %}"></script>
</body>
</html>
