---
layout: layouts/base.njk
hideTitle: true
---
<section class="home-section reveal">
  <div class="content post-wrapper">

    <h1 class="post-title">{{ title }}</h1>

    <time class="post-date" datetime="{{ page.date | htmlDateString }}">
      {{ page.date | readableDate("dd 'de' LLLL yyyy") }}
    </time>

    <article class="post-content">
      {{ content | safe }}
    </article>

  </div>
</section>
