---
layout: layouts/base.njk
hideTitle: true
---
<section class="home-section reveal">
  <div class="content post-wrapper">

    <h1 class="post-title">{{ title }}</h1>

    <time class="post-date" datetime="{{ page.date | htmlDateString }}">
      {{ page.date | readableDate }}
    </time>

    <article class="post-content">
      {{ content | safe }}
    </article>

    {%- if collections.posts %}
      {%- set previousPost = collections.posts | getPreviousCollectionItem %}
      {%- set nextPost = collections.posts | getNextCollectionItem %}
      {% if nextPost or previousPost %}
        <ul class="links-nextprev">
          {% if previousPost %}
            <li class="links-nextprev-prev">
              
              <a href="{{ previousPost.url }}" class="nav-link">← Anterior</a><br>
              {{ previousPost.data.title }}
            </li>
          {% endif %}
          {% if nextPost %}
            <li class="links-nextprev-next">              
              <a href="{{ nextPost.url }}" class="nav-link">Siguiente →</a><br>
              {{ nextPost.data.title }}
            </li>
          {% endif %}
        </ul>
      {% endif %}
    {% endif %}

  </div>
</section>
